.contenedor{
	perspective: 1000px;
	perspective-origin: 50% 50%;
}

.cubo{
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	margin: 200px auto;
}

.cubo, .cubo > div{
	height: 290px;
	width: 290px;
}

.cara{
	position: absolute;
	border: 5px solid black;
	opacity: 0.6;
}

.cubo .cara:nth-child(1){
	background: red;
	transform: translateZ(150px);
	/*traigo la cara desde
	el centro, 150px adelante*/
}

.cubo .cara:nth-child(2){
	background: black;
	transform: translateZ(-150px);
	/*traigo la cara desde
	el centro, 150px atras*/
}

.cubo .cara:nth-child(3){
	background: blue;
	transform: translateX(-150px)
	           rotateY(-90deg);
   /*traslado la cara 150px a la izq.
   y la roto 90grados*/

}

.cubo .cara:nth-child(4){
	background: green;
	transform: translateX(150px)
	           rotateY(-90deg);
   

}

.cubo .cara:nth-child(5){
	background: yellow;
	transform: translateY(150px)
	           rotateX(-90deg);
   

}


.cubo .cara:nth-child(6){
	background: orange;
	transform: translateY(-150px)
	           rotateX(90deg);
   

}

.cubo{
	animation: giro 20s infinite linear;
}

@-moz-keyframes giro{
	0%{
		transform: rotateX(-45deg)
		           rotateY(0deg);
	}
	50%{
		transform: rotateX(45deg)
		           rotateY(360deg);
	}

	100%{transform: rotateX(-45deg)
		           rotateY(720deg);

	}
}